<footer>
    <div class="f-info border-top ">
        <div class="f-social">
            <a href="#" style="color: inherit;text-decoration: none; ">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#" style="color: inherit;text-decoration: none;">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="#" style="color: inherit;text-decoration: none;">
                <i class=" fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-brand">&copy;WanderLust Private Limited</div>
        <div class="f-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>
