<footer class="border-top py-3 bg-light">
    <div class="container">
        <div class="row text-center text-md-start">
            <!-- Column 1: Contact Info -->
            <div class="col-md-4 mb-2">
                <div class="small text-muted">
                    <i class="fa-solid fa-envelope"></i> support@wanderlust.com <br>
                    <i class="fa-solid fa-phone"></i> +91 9513572684 (Fake)
                </div>
            </div>

            <!-- Column 2: Brand Name & Links -->
            <div class="col-md-4 text-center mb-2">
                <div class="f-brand text-dark fw-semibold small">
                    &copy; 2024 WanderLust Private Limited.
                    <br> All rights reserved by Dipankar Sarkar
                </div>
                <div class="f-links small mt-1">
                    <a href="#" class="text-muted text-decoration-none mx-2">Privacy Policy</a> |
                    <a href="#" class="text-muted text-decoration-none mx-2">Terms of Service</a>
                </div>
            </div>

            <!-- Column 3: Social Media -->
            <div class="col-md-4 d-flex flex-column align-items-md-mid align-items-center">
                <div class="fw-semibold small mb-2">Follow Us</div>
                <div class="f-social gap-2">
                    <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>


        </div>
    </div>
</footer>